extends layout_loggedOut
block content
   body
   h2 Sign Up
      h3
        form(method="POST")
         label(for="displayName", class="label") Username: 
         input(name="_id")
         br
         br
         label(for="displayName", class="label") Display Name: 
         input(name="displayName")
         br
         br
         label(for="email", class="label") Email Address: 
         input(name="email")
         br
         br
         label(for="password", class="label") Password: 
         input(name="password" type="password")
         br
         br
         input(type = "submit" value="Sign Up")
         //Brian Young