extends layout
block content
  head
    if darkMode
      link(rel='stylesheet', href='./stylesheets/dark.css')
    else
      link(rel='stylesheet', href='./stylesheets/styles.css')
  body 
    h2 Welcome, #{displayName}
    h2 At a Glance
      h3 Favorite Locations
      if favoriteLocations.length
        ul
          each location in favoriteLocations
            li= location.region
      else
        p You have no favorite locations.
      h3 Planner Entry
