extends layout
block content
  body 
    h2 Welcome, #{displayName}
    h2 At a Glance
      h3 Favorite Locations
      ul
        each location in favoriteLocations
          li= location.region
      h3 Planner Entry
