doctype html
html(lang="en")
	
  title= "Weather Forecaster"
  h1 Weather Forecaster
  
    block content

  block footer
   
      a(href='/') Home
      |
      |
      a(href='/insertWeather') Add Location
      |
      |
      a(href='/savedLocations') My Locations
      |
      |
      a(href='/planner') My Planner
      |
      |
      a(href='/settings') Settings     
      |
      |
      a(href='/logout') Logout
