doctype html
html(lang="en")
  head
      style
        include styles.css
	
      title= "Weather Forecaster"
  body
  h1 Weather Forecaster
  
    block content

  block footer
   
      a(href='/') Home
      |
      |
      a(href='/createUser') Sign Up
      |
      |
      a(href='/insertWeather') Add Location
      |
      |
      a(href='/savedLocations') My Locations
      |
      |
      a(href='/settings') Settings
      |
      |
      a(href='/planner') My Planner
