extends layout 
block content 

    h3 Please Login 
    form(method="POST") 
        | Name: 
        |
        input(name="userName")
        br
        |Password: 
        input(name="password")
        br
        br
        input(type="submit" value="Login")
    br
    br 
    br