extends layout
block content
  head
    if darkMode
      link(rel='stylesheet', href='./stylesheets/dark.css')
    else
      link(rel='stylesheet', href='./stylesheets/styles.css')
  body 
     h2 Planner
     form(action='/updatePlanner', method='POST')
          textarea(name="plannerText" rows="10" cols="50")
          br
          button(type='submit') Update Planner
