extends layout
block content
  head
    if darkMode
     link(rel='stylesheet', href='./stylesheets/dark.css', preload)
    else
      link(rel='stylesheet', href='./stylesheets/styles.css', preload)
  body 
     h2 Planner
     form(action='/updatePlanner', method='POST')
          textarea(name="entry" rows="10" cols="50")=entry
          br
          button(type='submit') Update Planner
