extends layout
block content
  head
    if darkMode
     link(rel='stylesheet', href='./stylesheets/dark.css', preload)
    else
      link(rel='stylesheet', href='./stylesheets/styles.css', preload)
  body 
  h2 My Locations
  form(action='/savedLocations', method='POST')
    select(name='location')
      each location in locations
        option(value=location._id) #{location.location.name}
    button(type='submit') Show Weather
  // Kyle Osbourne