extends layout
block content
  head
    if darkMode
     link(rel='stylesheet', href='./stylesheets/dark.css', preload)
    else
      link(rel='stylesheet', href='./stylesheets/styles.css', preload)
  body 
     h2 Settings for User #{trusted.name}
          h3
          form(method = "POST", action='/changeDisplayName')
               label(for="displayName", class="label") Display Name: 
               input(type="text", name="displayName")
               input(type="submit", value="Change Display Name")
               br
               br
               br
          
          form(method="POST", action='/changeEmail')
               label(for="email", class="label") Email:
               input(type="email", name="email")
               input(type="submit", value="Change Email")
               br
               br
               br

          form(method="POST", action='/changePassword')
               label(for="password", class="label") Password:
               input(type="password", name="password")
               input(type="submit", value="Change Password")
               br
               br
               br
          
          form(method="POST", action='/toggleDarkMode')
               label(for="darkMode") Toggle Dark Mode (On/Off)
               input(type="submit", value="Save")
               br
          //Brian Young