extends layout
block content
     h2 Settings for User #{trusted.name}
          form(method = "POST", action='/changeDisplayName')
               | Display name: 
               input(type="text", name="displayName")
               br
               input(type="submit", value="Change Display Name")
          
          form(method="POST", action='/changeEmail')
               | Email: 
               input(type="email", name="email")
               br
               input(type="submit", value="Change Email")

          form(method="POST", action='/changePassword')
               | Password: 
               input(type="password", name="password")
               br
               input(type="submit", value="Change Password")
          
          form(method="POST", action='/changeAge')
               | Age: 
               input(type="number", name="age")
               br
               input(type="submit", value="Change Age")
          