body {
  background-color: #111;
}

h1 {
  color: white;
}

h2 {
  color: lightslategray;
}

h3 {
  color: lightgray;
}

h4 {
  color: lightgray;
}

p {
  color: gold;
}

li {
  color: gold;
}

div {
  color: #aaa;
  border: 1px solid #444;
}
